{
    "extends": "nicjansma",
    "env": {
        "node": true,
        "browser": true,
        "amd": true,
        "es6": true
    },
    parserOptions: {
        ecmaVersion: 2017
    },
    "rules": {
        //
        // Disabled over nicjansma
        //
        "no-loop-func": 0,
        "strict": 0,
        "no-console": 0
    }
}
